<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maqola</title>
  </head>
  <body>
    <h2>Birinchi Maqola</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Tempora cupiditate nam accusantium iure voluptas fugit eligendi sequi mollitia odit, enim vero eaque nulla atque. 
      Commodi quisquam quaerat blanditiis pariatur similique.
    </p>
  </body>
</html>